.logo {
    width: 200px;
    display: block;
    margin: 0 auto;
    padding: 20px;
}

.bg {
    --background: url(/assets/images/bg.jpg) no-repeat center center/cover;
}

.errTxt {
    font-size: x-small;
    font-style: italic;
}

ion-toolbar {
    --background: white;
    --opacity: 0.9;
 }